body {
	margin: 0px;
	font-family: monospace, "Bodoni MT", Didot,
	"Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

header,
footer {
	display: flex;
	justify-content: space-evenly;
	background: #1F2937;
	color: #F9FAF8;
}

header ul {
	display: flex;
	list-style: none;
	gap: 16px;
	align-self: center;
}

a {
	text-decoration: none;
	color: #E5E7EB;
}

a:visited {
	color: #E5E7EB;
}

img {
	height: auto;
	width: 300px;
	margin-left: 80px;
	border-style: solid;
	border-radius: 16px;
	border-color: #1F2937;
}

div {
	display: flex;
	flex-direction: column;
	padding-bottom: 8px;
}

div.about {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 130px;
}

.about button {
	margin-right: auto;
	background: #3882F6;
	border-style: none;
	border-radius: 25px;
	color: #F9FAF8;
	padding: 8px 16px;
	font-size: 16px;
	transition-duration: 0.4s;
}

.about button:hover {
	cursor: pointer;
	background-color: #F9FAF8;
	color: #3882F6;
}

.about button:active {
	background-color: #F9FAF8;
	box-shadow: 0 5px #666;
 	transform: translateY(4px);
}

div.container {
	display: display;
	flex-direction: column;
	justify-content: space-evenly;
	width: 300px;
}

main {
	display: flex;
	flex-direction: column;
	background: #1F2937;
	color: #F9FAF8;
}

.subject {
	background-color: #F9FAF8;
}

.subject h3 {
	color: #1F2937;
	font-size: 36px;
	font-weight: extra-bold;
	margin: 0 auto;
	padding: 32px;
}

div.images {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.images img {
	aspect-ratio: 4/3;
	height: auto;
	width: 160px;
	border-style: solid;
	border-color: #3882F6;
	border-radius: 16px;
	flex: 1;
	opacity: 1;
	font-size: 40px;
}

.images img:hover {
	opacity: 50%;
	cursor: pointer;
}

.images p {
	color: #1F2937;
	margin: 32px 0px 16px 83px;
	text-align: center;
}

.quote p {
	width: 66.6666%;
	height: auto;
	margin: 16px auto;
	font-style: italic;
	line-height: 1.8em;
	font-size: 24px;
	color: #1F2937;
	font-weight: 100;
}

.quote {
	background-color: #E5E7EB;
}

.book {
	background-color: white;
	display: flex;
	height: 300px;
	justify-content: center;
}

.book .banner {
	background-color: #3882F6;
	margin: 32px;
	padding: 40px;
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.banner h4 {
	margin-bottom: 0px;
}

.book .banner button {
	border-radius: 8px;
	background-color: #3882F6;
	border-color: #F9FAF8;
	color: #F9FAF8;
	padding: 0 24px;
	font-weight: 600;
	font-size: 16px;
	border-width: 8px;
}

.book .banner button:hover {
	cursor: pointer;
}

footer img {
	height: auto;
	width: 32px;
	border-radius: 0px;
}

footer ul {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}